[Desktop Entry]
Name=Pycastr
GenericName=Audio/Video Streamer
Comment=Cast your audio/video to upnp clients
Exec=/opt/pycastr/src/pycastr-gtk/PycastrIndicator
Terminal=false
Type=Application
Icon=pycastr-status-on
