[Desktop Entry]
Name=Pycastr
GenericName=Audio/Video Streamer
Comment=Cast your audio/video to kodi clients
Exec=com.github.bgeVam.pycastr
Terminal=false
Type=Application
Icon=pycastr-status-on
